.matches-without-venue-card{
    mat-card-content {
        margin: 0 16px;
        .description {
            margin-bottom: 30px;
        }
        .form-card {
            margin: 10px;
            min-width: 75%;
            min-height: 125px;
        }
    }
}