<mat-card class="mat-elevation-z3 matches-without-venue-card">
    <mat-card-header>
        <mat-card-title>
            <h1>Matches without venue</h1>
        </mat-card-title>
        <mat-card-subtitle>
            <h2>Assign venue to matches</h2>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div style="min-height: 200px;" fxLayout="column" fxLayoutAlign="center center">
            <mat-card-title *ngIf="!matchesWithoutVenue.length" style="text-align: center;">Sorry, there are no matches
                without venue right now.</mat-card-title>
            <div *ngIf="matchesWithoutVenue.length" fxLayout="row" fxLayoutAlign="center stretch">
                <button class="mat-elevation-z3" mat-raised-button color="primary"
                    [disabled]="!previousExists() ? true : null" (click)="previousPage()">
                    <mat-icon>arrow_back_ios</mat-icon>
                </button>
                <mat-card *ngFor="let m of pagedMatches; index as i" class="form-card mat-elevation-z3">
                    <mat-card-header fxLayout="row" fxLayoutAlign="center">
                        <mat-card-title style="text-align: center;">{{m.host}} - {{m.visitor}}</mat-card-title>
                        <mat-card-subtitle style="text-align: center;">{{m.date | date: 'dd.MM.yyyy. HH:mm'}}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content *ngIf="filteredVenues.length">
                        <form [formGroup]="matchesWithoutVenueForm" autocomplete="off" fxLayout="row"
                            fxLayoutAlign="space-around center">
                            <mat-form-field color="accent">
                                <mat-label>Venue</mat-label>
                                <mat-select placeholder="Old location"
                                    [formControl]="matchesWithoutVenueForm.controls['venue']">
                                    <mat-option *ngFor="let fv of filteredVenues" [value]="fv.name">
                                        {{fv.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="matchesWithoutVenueForm.controls['venue'].invalid">Venue is
                                    required
                                </mat-error>
                            </mat-form-field>
                        </form>
                        <div style="margin-top: 20px;" fxLayout="row" fxLayoutAlign="end end">
                            <button mat-raised-button color="primary" (click)="assignVenue()">ASSIGN</button>
                        </div>
                    </mat-card-content>
                    <mat-card-content *ngIf="!filteredVenues.length" fxLayout="column" fxLayoutAlign="center center">
                        No available venues. <a mat-button color="accent" routerLink="/reserve-venue">Reserve a new one.</a>
                    </mat-card-content>
                </mat-card>
                <button class="mat-elevation-z3" mat-raised-button color="primary"
                    [disabled]="!nextExists() ? true : null" (click)="nextPage()">
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>