<mat-toolbar *ngIf="userService?.user" color="primary">
    <button mat-button *ngIf="userService?.user?.type === 0" (click)="locations()">Locations</button>
    <button mat-button *ngIf="userService?.user?.type === 0" (click)="matches()">Matches</button>
    <button mat-button *ngIf="userService?.user?.type === 0" (click)="attractions()">Tourist attractions</button>
    <button mat-button *ngIf="userService?.user?.type === 1" (click)="changeRequests()">Change requests</button>
    <button mat-button *ngIf="userService?.user?.type === 1" (click)="matchesWithoutVenue()">Matches without venue</button>
    <button mat-button *ngIf="userService?.user?.type === 1" (click)="reserveVenue()">Reserve venue</button>

    <span class="fill-remaining-space"></span>
    <button mat-button (click)="profile()"><img class="mat-elevation-z3" id="profile-image-circle" src="assets/pictures/users/{{userService.user.id}}/profile.jpg"><span>{{userService.user.firstName}} {{userService.user.lastName}}</span></button>
    <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>
<mat-sidenav-container [ngClass]="{'toolbarExists': userService?.user}" fxLayout="row" fxLayoutAlign="center center">
    <mat-sidenav-content fxFlex>
        <div class="router-outlet">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>