<div fxLayout="column" fxLayoutAlign="space-around center">
    <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <button class="mat-elevation-z3" fxFlex="5" mat-raised-button color="primary" [disabled]="!previousExists() ? true : null"
            (click)="previousPage()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <div fxFlex="60">
            <img src="{{picture.url}}" style="max-width: 100%; max-height: 100%;">
        </div>
        <button class="mat-elevation-z3" fxFlex="5" mat-raised-button color="primary" [disabled]="!nextExists() ? true : null"
            (click)="nextPage()">
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>
    </div>
</div>