<mat-card class="mat-elevation-z3 matches-card">
    <mat-card-header>
        <mat-card-title>
            <h1>Matches</h1>
        </mat-card-title>
        <mat-card-subtitle>
            <h2>Information about your matches</h2>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p class="description">
            Don't be late for your matches! You can find all needed information bellow. Filter matches by date, time or venue as needed.
        </p>
        <form [formGroup]="filterForm" autocomplete="off" fxLayout="row" fxLayoutAlign="space-evenly center" class="mat-elevation-z3">
            <mat-form-field fxFlex="20" color="accent">
                <mat-label>Date</mat-label>
                <input matInput [formControl]="filterForm.controls['date']" placeholder="Example: 20.03.2020.">
            </mat-form-field>
            <mat-form-field fxFlex="20" color="accent">
                <mat-label>Time</mat-label>
                <input matInput [formControl]="filterForm.controls['time']" placeholder="Example: 14:32">
            </mat-form-field>
            <mat-form-field fxFlex="20" color="accent">
                <mat-label>Venue</mat-label>
                <input matInput [formControl]="filterForm.controls['venue']">
            </mat-form-field>
            <button class="mat-elevation-z3" fxFlex="20" mat-raised-button color="primary" (click)="filterMatches()">SEARCH</button>
        </form>
        <table *ngIf="dataSource.data.length !== 0" mat-table [dataSource]="dataSource" class="mat-elevation-z3">
            <ng-container matColumnDef="host">
                <th mat-header-cell *matHeaderCellDef> Host </th>
                <td mat-cell *matCellDef="let element"> {{element?.host}} </td>
            </ng-container>
            <ng-container matColumnDef="visitor">
                <th mat-header-cell *matHeaderCellDef> Visitor </th>
                <td mat-cell *matCellDef="let element"> {{element?.visitor}} </td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element">
                    {{element?.date | date: 'dd.MM.yyyy.'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef> Time </th>
                <td mat-cell *matCellDef="let element"> {{element?.date | date:'HH:mm'}} </td>
            </ng-container>
            <ng-container matColumnDef="venue">
                <th mat-header-cell *matHeaderCellDef> Venue </th>
                <td mat-cell *matCellDef="let element"> {{element?.venue ? element.venue : '?'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-card *ngIf="dataSource.data.length === 0">
            <mat-card-header>
                <mat-card-title>
                    <h3>Sorry!</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                There are no matches matching filter criteria.
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>