<mat-card class="mat-elevation-z3 attractions-card">
    <mat-card-header>
        <mat-card-title>
            <h1>Tourist attractions</h1>
        </mat-card-title>
        <mat-card-subtitle>
            <h2>Top experiences in Belgrade</h2>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p class="description">
            Outspoken, adventurous, proud and audacious: Belgrade ('White City') is by no means a 'pretty' capital, but
            its gritty exuberance makes it one of Europe's most happening cities. While it hurtles towards a brighter
            future, its chaotic past unfolds before your eyes: socialist blocks are squeezed between art nouveau
            masterpieces, and remnants of the Habsburg legacy contrast with Ottoman relics and socialist modernist
            monoliths. This is where the Sava and Danube Rivers kiss, an old-world culture that at once evokes
            time-capsuled communist-era Yugoslavia and new-world, EU-contending cradle of cool.
        </p>
        <div fxLayout="row" fxLayoutAlign="space-around stretch">
            <button class="mat-elevation-z3" mat-raised-button color="primary" [disabled]="!previousExists() ? true : null"
                (click)="previousPage()">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>
            <mat-card *ngFor="let a of pagedAttractions; index as i" class="attraction-card mat-elevation-z3">
                <mat-card-header fxLayout="row" fxLayoutAlign="center">
                    <mat-card-title style="text-align: center;">Attraction {{a}}</mat-card-title>
                    <mat-card-subtitle style="text-align: center;">123 people like this
                        <span style="vertical-align:sub;" class="material-icons">
                            thumb_up
                        </span></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/pictures/gallery/1.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-actions [align]="'end'">
                    <button style="width: 100%;" class="mat-elevation-z3" mat-raised-button color="primary"
                        (click)="attraction(a)">DETAILS</button>
                </mat-card-actions>
            </mat-card>
            <button class="mat-elevation-z3" mat-raised-button color="primary" [disabled]="!nextExists() ? true : null"
                (click)="nextPage()">
                <mat-icon>arrow_forward_ios</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>