<mat-card class="mat-elevation-z3 attr-card">
    <mat-card-header>
        <mat-card-title>
            <h1>{{attraction.name}}</h1>
        </mat-card-title>
        <mat-card-subtitle>
            <h3>{{attraction.likes.length}} people like this
                <span style="vertical-align:sub;" class="material-icons">
                    thumb_up
                </span></h3>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p class="description">{{attraction.description}}</p>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="openDialog()">IMAGE
                GALLERY</button>
            <div fxFlex></div>
            <button *ngIf="liked" mat-raised-button color="warn" (click)="dislike()">
                DISLIKE<span style="vertical-align:sub;font-size: 20px;margin-left: 5px;" class="material-icons">
                    thumb_down
                </span></button>
            <button *ngIf="!liked" mat-raised-button color="accent" (click)="like()">
                LIKE<span style="vertical-align:sub;font-size: 20px;margin-left: 5px;" class="material-icons">
                    thumb_up
                </span></button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>