.change-request-card{
    mat-card-content {
        margin: 0 16px;
        .description {
            margin-bottom: 30px;
        }
        .form-card {
            #profile-image-circle-cr{
                width: 48px;
                height: 48px; 
                border-radius: 50%;
                margin-right: 10px;
            }
            margin: 10px;
            min-width: 50%;
            min-height: 125px;
            mat-form-field {
                width: 40%;
            }
        }
    }
    .paginate-button {
        height: 150px;
        min-width: 36px !important;
        padding: 0 !important;
    }
}